<div class="home">
	<div class="main_heading">It's time to win big prizes.</div>
	<div class="main_buttons">
		<button mat-raised-button class="register" [routerLink]="['/register']" >Register</button>
		<span class="main_spacer"></span>
		<button mat-raised-button (click)="openDialog($event)" class="login">Login</button>
	</div>
</div>
<div class="instruction">
	<div class="heading">What you have to do ?</div>
	<div class="instruction_matter">
		You just need to register by clicking on the register button given above and filling the required details.
		After registration you will get a referal code and link.
		You can share the code or link with your friends so that they can register using your referral code. After every 10 referrals you will get 100 credits. You can exchange these credits with the prizes in the exchange store. 
	</div>
	<div class="note">Note:- You need a referral code for regsitration</div>
</div>
<div class="footer">
	<div class="footer_content">MADE BY ANKIT SATYAWALI</div>
</div>
